* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(13, 49, 49);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}

.col-1, .col-2 {
    width: 50%;
    padding: 5%;
}

.new-book-card {
    padding: 5%;
    background: #dcdcdc;
}

.messages {
    color: red;
    font-size: 15px;
}

.description {
    display: grid;
    height: 35%;
}

.col-2 {
    margin-bottom: 25%;
}